@import "src/commonstyles/styleGuide";

.homePage {
  .description {
    font-size: 1.40rem;
    padding: 40px 0;
    hyphens: auto;
    max-width: 950px;
    margin: 0 auto;
  }

  .heading {
    @extend .text-large;
    @extend .bolder;
    color: $brandColor;
  }

  .sideGutter {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .homePage {
    padding-top: 60px;
  }
}
